@import "nib"
@import "rupture"

:local(.button) {
  position relative
  border 1px solid black
  background-color transparent
  font-weight 800
  text-transform uppercase
  font-size 0.5rem
  cursor pointer

  &::before {
    content " "
    display block
    position absolute
    top 50%
    right 50%
    bottom 50%
    left 50%
    background-color black
    z-index 0
    transition all 175ms ease-in-out
    cursor inherit
  }

  &:hover::before {
    top 0
    right 0
    bottom 0
    left 0
  }
}

:local(.label) {
  position relative
  z-index 1
  cursor inherit

  :local(.button):hover & {
    color #fff
  }
}
