@import "nib"
@import "rupture"

:local(.button) {
  display flex
  flex-flow row wrap
  align-items center
  justify-content center
  position relative
  border 1px solid black
  background-color transparent
  font-weight 800
  text-transform uppercase
  font-size 0.6rem
  padding 0 0.75rem
  height 2.5rem
  cursor pointer

  &[disabled] {
    border-color lighten(grey, 50%)
    color lighten(grey, 50%)
  }

  &::before {
    content " "
    display block
    position absolute
    top 50%
    right 50%
    bottom 50%
    left 50%
    background-color black
    z-index 0
    transition all 175ms ease-in-out
    cursor inherit
  }

  &:enabled:hover::before {
    top 0
    right 0
    bottom 0
    left 0
  }
}

:local(.label) {
  position relative
  z-index 1
  cursor inherit

  :local(.button):enabled:hover & {
    color #fff
  }
}
