@import "nib"
@import "rupture"

:local(.container) {
  display flex
  flex-flow row wrap
  width 20rem
}

:local(.input) {
  border none
  background-color transparent
  padding 0.5rem 1rem
  margin 0 0 0.5rem 0
  font-size 1.4rem
  border-bottom 2px solid black
  width 100%

  &:focus {
    outline none
  }
}

:local(.labelWrapper) {
  display flex
  flex-flow row wrap
  width 100%
}

:local(.label) {
  position relative
  display block
  width 100%
  font-size 1rem
  font-weight 800
}

:local(.errorLabel) {
  font-weight 800
  color red
}

.label-enter,
.label-leave {
  transition all 175ms ease
}

.label-enter {
  opacity 0
  transform translate3d(0, 50%, 0)
  &.label-enter-active {
    opacity 1
    transform translate3d(0, 0, 0)
  }
}

.label-leave {
  opacity 1
  transform translate3d(0, 0, 0)
  &.label-leave-active {
    opacity 0
    transform translate3d(0, -50%, 0)
  }
}
