@import 'nib'
@import 'rupture'

normalize-css()

*,
*::before,
*::after
  box-sizing border-box

html
  font-size 62.5%

:local(.container)
  display flex
  flex-flow row wrap
  align-content flex-start
  padding 2rem
  width 100%
  min-height 100vh

  h1
    flex 1 0 100%

