@import "nib"
@import "rupture"

:local(.container) {
  display flex
  flex-flow row wrap

  +below(1280px) {
    column-count 3
  }

  +below(960px) {
    column-count 2
  }

  +below(720px) {
    column-count 1
  }

  h2 {
    width 100%
  }
}
