@import 'nib'
@import 'rupture'

:local(.container)
  display flex
  flex-flow row wrap
  flex 1 0 100%

  h2, p
    flex 1 0 100%

:local(.incrementor),
:local(.decrementor)
  width 4rem
  height 4rem
