@import "nib"
@import "rupture"

normalize-css()

*,
*::before,
*::after
  box-sizing border-box

html
  font-size 62.5%

body
  padding 2rem

:local(.container)
  height 100%
  display flex
  flex-flow column wrap
  align-items flex-start
  justify-content flex-start

:local(.header)
  border-bottom 2px solid black
  margin-bottom 2rem
